%table.table
  %tr
    %th
      Email
    %th
      = t('Name')
    %th
      =t ('Last name')
    %th
      = t('About me')
    %th
      = t('Birthday')
    %th
      = t('Religion')
  %tr
    %td
      = @user.email
    %td
      = @user.name
    %td
      = @user.lastName
    %td
      = @user.aboutMe
    %td
      = @user.birthday
    %td
      = @user.religion
%br
- if @user.baptism.nil?
  = link_to t("Add your baptism"), new_user_baptism_path(@user), class: "btn btn-primary"
- else
  = link_to t("Edit your baptism"), edit_user_baptism_path(@user), class: "btn btn-primary"

- if @user.confirm_sacrament.nil?
  = link_to t("Add your confirmation"), new_user_confirm_sacrament_path(@user), class: "btn btn-primary"
- else
  = link_to t("Edit your confirmation"), edit_user_confirm_sacrament_path(@user), class: "btn btn-primary"

- if @user.marriage.nil?
  = link_to t("Add your marriage"), new_user_marriage_path(@user), class: "btn btn-primary"
- else
  = link_to t('Edit your marriage'), edit_user_marriage_path(@user), class: "btn btn-primary"

- if @user.priesthood.nil?
  = link_to t("Add your priesthood"), new_user_priesthood_path(@user), class: "btn btn-primary"
- else
  = link_to t("Edit your priesthood"), edit_user_priesthood_path(@user), class: "btn btn-primary"
