<div class='row'>
  <div class="col-sm-8 col-sm-offset-1">
    <div class="text-center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      <% @posts.each do |post| %>
      <div class='row'>
        <div class="col-sm-3">
          <div class="well">
            <%= post.user.name %>
            <br>
            <% if post.user.avatar.file? %>
              <%= image_tag post.user.avatar.url(:thumb), class: 'img-circle' %>
            <% end %>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
              <br />
              <%= post.body %>
              <% if post.post_image.file? %>
                <div class="image well">
                <%= link_to image_tag(post.post_image.url(:medium)), image_url(post.post_image.url(:large)), {'data-toggle' =>'lightbox', class: 'img-fluid'} %>
                </div>
              <% end %>
              <% if post.url_youtube? %>
                <div class="video well video-container">
                  <%= YoutubeEmbed::Video.iframe(post.url_youtube) %>
                </div>
              <% end %>
              <div class="info">
                <%= t(:created) %>
                <%= time_ago_in_words(post.created_at) %>
                <%= t(:ago) %>
              </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
    <div class="row right-aside">
      <div class="well">
        <p>Słowa Boże na dzień dzisiejszy:
        <em>Marność nad mądrościami, to wszystko marność </em></p>
      </div>
      <div class="link">
        <%= link_to image_tag("biblioteka-banner.png"), "http://www.biblioteka.diecezja.legnica.pl/" %>
      </div>
    </div>
</div>
