<div class='row'>
  <div class="col-sm-8 col-sm-offset-1">
    <div class="text-center">
      <% @posts.each do |post| %>
      <div class='row'>
        <div class="col-sm-3">
          <div class="well">
           <%= post.user.name %>
           <br>
           <%= image_tag post.user.avatar.url(:thumb), class: 'img-circle' %>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="well">
              <br />
              <%= post.body %>
              <br />
              <%= t(:created) %>
              <%= time_ago_in_words(post.created_at) %>
              <%= t(:ago) %>
          </div>
        </div>
      </div>
      <% end %>


    </div>
  </div>
  <div class="col-sm-2 well">
    <p>Słowa Boże na dzień dzisiejszy:
    <em>Bądź mądry ha ha ha </em></p>
  </div>
</div>
