%h1 Confirmations
= form_for @confirm, url: user_confirm_path do |f|
	= f.label :local
	= f.text_field :local

	= f.label :parish
	= f.text_field :parish

	= f.label :minister
	= f.text_field :minister

	= f.label :date
	= f.date_field :date

	= f.submit
