%h1
  = t('Confirmation')
= form_for (@confirm_sacrament), url: user_confirm_sacrament_path do |f|
  = f.label t(:local)
  = f.text_field :local

  = f.label t(:parish)
  = f.text_field :parish

  = f.label t(:minister)
  = f.text_field :minister

  = f.label t(:sacrament_date)
  = f.text_field :sacrament_date, class: "datepicker"

  = f.submit t('helpers.submit.create', model: t(f.object.model_name.human))
:coffeescript
  $(document).ready ->
    $(".datepicker").datepicker
      dateFormat: "dd-mm-yy",
      changeYear: true