%h1
  = t('Confirmation')
%table.table
  %tr
    %th
      = t('sacrament_date')
    %th
      = t('local')
    %th
      = t('parish')
    %th
      = t('minister')
  %tr
    %td
      = @confirm_sacrament.sacrament_date
    %td
      = @confirm_sacrament.local
    %td
      = @confirm_sacrament.parish
    %td
      = @confirm_sacrament.minister

= link_to t('Edit'), edit_user_confirm_sacrament_path(@confirm_sacrament)
= link_to t('Delete'), user_confirm_sacrament_path, method: :delete, data: {confirm: t(:sure)}

