%h1
  = t :post_edit
.row
  .col-md-12
    .col-md-10.col-md-offset-2
      = form_for [@user, @post], url: user_post_path, html: {multipart: true} do |f|
        %table.table
          %tr
            %th
              = f.label t :body
            %td
              = f.text_area :body, size: "50x4"
          %tr
            %th
              = f.label t :post_image
            %td
              = f.file_field :post_image
          %tr
            %th
              = f.label t :url_youtube
            %td
              = f.text_field :url_youtube
          %tr
            %td
              = f.submit class: "btn btn-default"
