= provide(:title, "Posts")
= form_for [@user, @post] do |f|
  - if @post.errors.any?
    = @post.errors.full_messages.each do |type, msg|
      = msg
  = f.label :body
  = f.text_area :body
  = f.submit
%br

- @posts.each do |post|
  - if post.id
    = post.body
    = post.created_at
    = post.user.name
    = link_to t("Edit"), edit_user_post_path(@user, post)
    = link_to t("Delete"), user_post_path(@user, post), method: :delete, data: {confirm: t(:sure)}
    %br
