= provide(:title, "Posts")
.row
  .col-md-12
    .col-md-10.col-md-offset-2
      = form_for [@user, @post], html: {multipart: true, class: "form-inline"} do |f|
        - if @post.errors.any?
          = @post.errors.full_messages.each do |type, msg|
            = msg
        .form-group
          = f.label t :body
          = f.text_area :body, class: "form-control"

        .form-group
          = f.label t :post_image
          = f.file_field :post_image, class: "form-control btn btn-default"
        .form-group
          = f.label t :url_youtube
          = f.text_field :url_youtube
        = f.submit class: "btn btn-default"

.row
  .col-md-10.col-md-offset-2
    %h1
      = t :my_posts
  .col-sm-8.col-sm-offset-2
    = will_paginate @posts, renderer: BootstrapPagination::Rails
    %table.table.table-striped
      %tbody
        %tr
          %th
            = t :body
          %th
            = t :post_image
          %th
            = t :url_youtube
          %th
            = t :created_at
          %th
            = t :actions

        - @posts.each do |post|
          - if post.id
            %tr
              %td
                = post.body
              %td
                - if post.post_image.file?
                  = image_tag post.post_image.url(:thumb)
              %td
                - if post.url_youtube?
                  = YoutubeEmbed::Video.iframe(post.url_youtube, {width: 320, height: 180})
              %td
                = post.created_at
              %td
                = link_to t("Edit"), edit_user_post_path(@user, post), class: "btn btn-primary"
                = link_to t("Delete"), user_post_path(@user, post), method: :delete, data: {confirm: t(:sure)}, class: "btn btn-danger"
    = will_paginate @posts, renderer: BootstrapPagination::Rails
