
%h1 Edit Baptism
= form_for @baptism, url: user_baptism_path do |f|
  = f.label :local
  = f.text_field :local

  = f.label :parish
  = f.text_field :parish

  = f.label :minister
  = f.text_field :minister

  = f.label :date
  = f.date_field :date

  = f.submit

