%h1
  = t('.show_baptism')
%table.table
  %tr
    %th
      = t('sacrament_date')
    %th
      = t('local')
    %th
      = t('parish')
    %th
      = t('minister')
  %tr
    %td
      = @baptism.sacrament_date
    %td
      = @baptism.local
    %td
      = @baptism.parish
    %td
      = @baptism.minister

= link_to t('Edit'), edit_user_baptism_path(@baptism), class: "btn btn-default"
= link_to t('Delete'), user_baptism_path, method: :delete, class: "btn btn-danger", data: {confirm: t(:sure)}
