<!DOCTYPE html>
<html>
<head>
  <title>Jesusbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1><%= link_to 'JESUSBOOK', users_path %></h1>
    </div>
    <div class="row">
      <% if current_user %>
        <%= link_to current_user.email, user_path(current_user.id),  class: "btn btn-primary"%>
        <%=link_to "Edit registration", edit_user_registration_path, class: "btn btn-primary" %>
        <%=link_to "Wyloguj się", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="row">
      <%= yield %>
    </div>
    <br/>

    <footer>
      <div class="row">
        <div class="col-md-6">
          <p>&copy;jesusbook 2015</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
